<%# 
The form_with helper method instantiates a form builder. 
  In the form_with block we call methods like label and text_field on the form builder 
  to output the appropriate form elements. 

Because partials are shared code, it is best practice that they do not depend on specific 
  instance variables set by a controller action. 
  Instead, we will pass the article to the partial as a local variable from the view file.   
%>


<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <%# the Article model (the Article class) inherits errors and full_messages_for to handle validation + error messages %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>